---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/ui/Hero.astro';

import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories/marketing-site/creative-services', {
    version: import.meta.env.DEV ? 'draft' : 'published',
});

const content = data.story.content;
---

<Layout>
    <main>
        <Hero
            title="Creative Services"
            description="Savvy strategy wrapped in gorgeous, modern, clean design. When you hire us, you get the best of both worlds: industry best practices with a creative edge. Interested in a project? Book a free 60 Minute Studio Strategy Session with our team."
            ctaLink="/book-a-free-30-minute-studio-strategy-session"
            image="/creative-hero.png"
        />
        <StoryblokComponent blok={content} />
    </main>
</Layout>
