---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/homepage/Hero.astro';
---

<Layout>
    <main class="mx-auto mt-28 sm:mt-32 max-w-7xl">
        <Hero />
    </main>
</Layout>
