---
import LogoCard from "../ui/LogoCard.astro";
---

<section class="px-4 mx-auto max-w-7xl">
    <h2 class="text-center">Clients</h2>
    <div class="grid grid-cols-6 gap-4">
        <LogoCard />
        <LogoCard />
        <LogoCard />
        <LogoCard />
        <LogoCard />
    </div>
</section>
