---
import ActionBox from '../ui/ActionBox.astro';
import CldImage from '../../components/ui/CldImage.astro';
import BgPattern from '../ui/BgPattern.astro';
---

<section class="relative py-4 pt-40 sm:mb-0 sm:overflow-hidden sm:py-20 lg:pt-56 bg-stone-50">
    <div class="relative flex flex-col justify-end mx-auto sm:flex-row max-w-7xl">
        <div class="left-0 z-50 sm:absolute top-56 sm:top-16">
            <ActionBox cta="Book now" link="/book-a-free-60-minute-studio-strategy-session">
                <h1 class="text-3xl lg:text-[60px] leading-none font-extrabold">
                    Your studio's growth is our <span class="relative z-10 font-display brush"
                        >business.</span
                    >
                </h1>
                <p class="mt-4 text-xl leading-normal">
                    We’re your team of Savvy Strategists, Marketing Minds &amp; Industry
                    Changemakers committed to helping your boutique fitness business thrive. Book a
                    free 30 Minute Studio Strategy Session today.
                </p>
            </ActionBox>
        </div>
        <div class="relative z-30">
            <CldImage
                width="1912"
                height="1300"
                src="clients/spark-strategies/lp-hero.jpg"
                alt="Yoga class"
                class="rounded-tl-lg rounded-tr-lg lg:hidden"
            />
            <video
                muted
                autoplay
                loop
                class="max-w-4xl h-[600px] object-cover object-center rounded-[32px] hidden lg:block"
            >
                <source
                    src="https://res.cloudinary.com/observatory-agency/video/upload/f_auto/q_auto/v1679343655/clients/spark-strategies/hero_zszy3b.mp4"
                    type="video/mp4"
                />
            </video>
        </div>
    </div>
    <BgPattern height="800" yOffset="-translate-y-10" />
</section>

<style lang="scss">
    .brush::before {
        content: ' ';
        position: absolute;
        bottom: 10px;
        right: -5px;
        width: 100px;
        height: 12px;
        opacity: 1;
        z-index: -1;
        background-image: url(/patterns/brush.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: 1280px) {
            bottom: 16px;
            right: -8px;
            width: 265px;
            height: 35px;
        }
    }
</style>
