---
import ActionBox from "../ui/ActionBox.astro";
---

<section class="relative flex justify-end mx-auto max-w-7xl @container">
    <div class="absolute left-0 top-12 @lg:hidden">
        <ActionBox cta="Book now" link="https://calendly.com/nicole-dandrea/60-min-studio-strategy-session-with-nicole-d-andrea">
            <h1 class="text-[64px] leading-none font-extrabold">Is your boutique fitness studio ready to <span class="font-display">grow?</span></h1>
            <p class="text-xl leading-normal">We’re your team of Savvy Strategists, Marketing Minds & Industry Changemakers commited to helping your business thrive. Book a free 60 minute Studio Strategy Session today.</p>
        </ActionBox>
    </div>
    <div>
        <video muted autoplay loop class="max-w-4xl rounded-[32px]">
            <source src="https://res.cloudinary.com/observatory-agency/video/upload/v1667337891/clients/spark-strategies/hero-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="absolute h-[856px] bg-sparkRaspberry -z-10 max-w-lg w-2/5 rounded-tl-3xl rounded-bl-3xl -top-20 right-0"></div>
</section>
