---
import ActionBox from '../ui/ActionBox.astro';
import CldImage from '../../components/ui/CldImage.astro';
---

<section class="py-4 mb-[26rem] sm:mb-0 sm:overflow-hidden sm:py-20">
    <div class="relative flex justify-end mx-auto max-w-7xl">
        <div class="absolute left-0 top-56 sm:top-12">
            <ActionBox
                cta="Book now"
                link="https://calendly.com/nicole-dandrea/60-min-studio-strategy-session-with-nicole-d-andrea"
            >
                <h1 class="text-3xl lg:text-[64px] leading-none font-extrabold">
                    Is your boutique fitness studio ready to <span
                        class="relative z-10 font-display brush">grow?</span>
                </h1>
                <p class="mt-4 text-xl leading-normal">
                    We’re your team of Savvy Strategists, Marketing Minds & Industry Changemakers
                    commited to helping your business thrive. Book a free 60 minute Studio Strategy
                    Session today.
                </p>
            </ActionBox>
        </div>
        <div>
            <CldImage
                width="1912"
                height="1300"
                src="clients/spark-strategies/lp-hero.jpg"
                alt="Yoga class"
                class="rounded-tl-lg rounded-tr-lg sm:hidden"
            />
            <video muted autoplay loop class="max-w-4xl rounded-[32px] hidden sm:block">
                <source
                    src="https://res.cloudinary.com/observatory-agency/video/upload/v1667337891/clients/spark-strategies/hero-video.mp4"
                    type="video/mp4"
                />
            </video>
        </div>
        <div
            class="h-[664px] bg-sparkRaspberry -z-10 max-w-lg w-2/5 rounded-tl-3xl rounded-bl-3xl absolute left-full hidden -translate-x-3/4 -translate-y-20 transform lg:block"
        >
        </div>
    </div>
</section>

<style lang="scss">
    .brush::before {
        @media screen and (min-width: 1280px) {
            content: ' ';
            position: absolute;
            bottom: 12px;
            right: -5px;
            width: 235px;
            height: 30px;
            opacity: 1;
            z-index: -1;
            background-image: url('/patterns/brush.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
</style>
