---
import ActionBox from '../ui/ActionBox.astro';
import CldImage from '../../components/ui/CldImage.astro';
---

<section class="py-4 mb-[26rem] sm:mb-0 sm:overflow-hidden sm:py-20">
    <div class="relative flex justify-end mx-auto max-w-7xl">
        <div class="absolute left-0 top-56 sm:top-12">
            <ActionBox
                cta="Book now"
                link="https://calendly.com/nicole-dandrea/60-min-studio-strategy-session-with-nicole-d-andrea"
            >
                <h1 class="text-3xl lg:text-[64px] leading-none font-extrabold">
                    Is your boutique fitness studio ready to <span
                        class="relative z-10 font-display brush">grow?</span>
                </h1>
                <p class="mt-4 text-xl leading-normal">
                    We’re your team of Savvy Strategists, Marketing Minds & Industry Changemakers
                    commited to helping your business thrive. Book a free 60 minute Studio Strategy
                    Session today.
                </p>
            </ActionBox>
        </div>
        <div>
            <CldImage
                width="1912"
                height="1300"
                src="clients/spark-strategies/lp-hero.jpg"
                alt="Yoga class"
                class="rounded-tl-lg rounded-tr-lg sm:hidden"
            />
            <video muted autoplay loop class="max-w-4xl rounded-[32px] hidden sm:block">
                <source
                    src="https://res.cloudinary.com/observatory-agency/video/upload/v1667337891/clients/spark-strategies/hero-video.mp4"
                    type="video/mp4"
                />
            </video>
        </div>
        <!-- <div
            class="h-[664px] bg-sparkRaspberry -z-10 max-w-lg w-2/5 rounded-tl-3xl rounded-bl-3xl absolute left-full hidden -translate-x-3/4 -translate-y-20 transform lg:block"
        >
        </div> -->
        <div class="relative px-6 py-10 overflow-hidden bg-gradient-to-b from-sparkRaspberry to-sparkOrange sm:px-10 xl:p-12">
            <!-- Decorative angle backgrounds -->
            <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
              <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
                <defs>
                  <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div class="absolute top-0 bottom-0 right-0 hidden w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
              <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                <defs>
                  <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div class="absolute top-0 bottom-0 right-0 hidden w-1/2 pointer-events-none lg:block" aria-hidden="true">
              <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                <defs>
                  <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>

    </div>
</section>

<style lang="scss">
    .brush::before {
        @media screen and (min-width: 1280px) {
            content: " ";
            position: absolute;
            bottom: 18px;
            right: -5px;
            width: 203px;
            height: 25px;
            opacity: 1;
            z-index: -1;
            background-image: url(/patterns/brush.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
</style>
