<section id="trainings" class="relative z-10 overflow-hidden bg-white scroll-mt-16">
    <div class="pt-12 sm:pt-16 lg:pt-24">
        <div class="max-w-screen-xl px-4 mx-auto text-center sm:px-6 lg:px-8">
            <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
                <h2
                    class="text-2xl font-bold text-sparkHeader sm:text-5xl sm:leading-10 lg:leading-none"
                >
                    <span class="font-display text-3xl sm:text-[54px] brush relative">Free</span>
                    Mini Trainings
                </h2>
            </div>
        </div>
    </div>
    <div class="pb-12 mt-8 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
        <div class="relative">
            <div class="relative z-10 max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
                <div
                    class="max-w-md mx-auto space-y-4 lg:max-w-5xl lg:grid lg:grid-cols-2 lg:gap-5 lg:space-y-0"
                >
                    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                        <div class="px-4 py-2.5 sm:px-6 sm:py-8 bg-sparkPeach sm:p-10 sm:pb-6">
                            <div>
                                <h3
                                    id="tier-standard"
                                    class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-full text-sparkPeach bg-sparkRaspberry"
                                >
                                    Free!
                                </h3>
                            </div>
                            <h3 class="mt-4 text-2xl font-medium leading-none sm:text-4xl">Sales School</h3>
                            <p class="mt-5 text-base font-medium leading-7 text-sparkBody">
                                ICKED-OUT BY THE WORD ‘SALES’? This training is for you if...
                            </p>
                        </div>
                        <div
                            class="flex flex-col justify-between flex-1 px-6 pt-4 pb-8 space-y-6 bg-sparkPeach sm:p-10 sm:pt-2"
                        >
                            <ul class="space-y-4">
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        You're done with the days of praying to make a sale -- you
                                        want to get off the rollercoaster and KNOW you're waking up
                                        with cash in the bank every day
                                    </p>
                                </li>

                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        You're ready to up-level your sales process and train your
                                        team to convert intro clients to loyal members ALL. THE.
                                        TIME.
                                    </p>
                                </li>

                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        You're not afraid to make a few changes to truly GROW your
                                        studio's bottom line
                                    </p>
                                </li>
                            </ul>
                            <div class="rounded-md shadow">
                                <a
                                    href="https://coach.nicoledandreaconsulting.com/pl/2147535041"
                                    target="_blank"
                                    rel="noopener"
                                    class="items-center block w-full py-2 font-semibold tracking-widest text-center rounded shadow-sm text-sparkPeach bg-sparkBlue font-body border-secondaryColor text-secondaryColor hover:bg-sparkBlueDark hover:text-primaryColor focus:outline-none focus:ring-2 focus:ring-secondaryColorDark focus:ring-offset-2"
                                    aria-describedby="tier-standard"
                                >
                                    Get started
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                        <div class="px-4 py-2.5 sm:px-6 sm:py-8 bg-sparkPeach sm:p-10 sm:pb-6">
                            <div>
                                <h3
                                    id="tier-standard"
                                    class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-full text-sparkPeach bg-sparkRaspberry"
                                >
                                    Free!
                                </h3>
                            </div>
                            <h3 class="mt-4 text-2xl font-medium leading-none sm:text-4xl">
                                The Retention Rulebook
                            </h3>
                            <p class="mt-5 text-base font-medium leading-7 text-sparkBody">
                                Retention is the SINGLE most important metric to know and love
                                within your studio business. It's the key to:
                            </p>
                        </div>
                        <div
                            class="flex flex-col justify-between flex-1 px-6 pt-4 pb-8 space-y-6 bg-sparkPeach sm:p-10 sm:pt-2"
                        >
                            <ul class="space-y-4">
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        Getting prospects on board with your product and mission
                                    </p>
                                </li>

                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        Converting trial clients to lifelong customers
                                    </p>
                                </li>

                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        Keeping your members out of your competitor's studios and
                                        with you for life!
                                    </p>
                                </li>
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg
                                            class="w-6 h-6 text-sparkBlue"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-sparkBody">
                                        In this free training, you'll learn what to look for and how
                                        to improve your retention numbers for the abundantly
                                        profitable studio business you've been waiting for!
                                    </p>
                                </li>
                            </ul>
                            <div class="rounded-md shadow">
                                <a
                                    href="https://coach.nicoledandreaconsulting.com/pl/2147535068"
                                    target="_blank"
                                    rel="noopener"
                                    class="items-center block w-full py-2 font-semibold tracking-widest text-center rounded shadow-sm text-sparkPeach bg-sparkBlue font-body border-secondaryColor text-secondaryColor hover:bg-sparkBlueDark hover:text-primaryColor focus:outline-none focus:ring-2 focus:ring-secondaryColorDark focus:ring-offset-2"
                                    aria-describedby="tier-standard"
                                >
                                    Get started
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .brush::before {
        content: " ";
            position: absolute;
            bottom: 6px;
            right: -6px;
            width: 74px;
            height: 16px;
            opacity: 1;
            z-index: -1;
            background-image: url(/patterns/brush.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media screen and (min-width: 1280px) {
                bottom: 18px;
                right: -9px;
                width: 133px;
                height: 18px;
            }
    }
</style>
