---
import LogoCard from '../ui/LogoCard.astro';
---

<section class="py-12 bg-stone-50 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl">
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-7">
            <LogoCard logo="/logos/wlct.png" company="" width={80} />
            <LogoCard logo="/logos/mindbody.png" company="Mindbody" />
            <LogoCard logo="/logos/bfs.png" company="BFS" />
            <LogoCard logo="/logos/fitdegree.svg" company="" />
            <LogoCard logo="/logos/walla.png" company="Walla" />
            <LogoCard logo="/logos/wellness-living.svg" company="" />
            <LogoCard logo="/logos/fix-this-next.png" company="" width={85} />
        </div>
    </div>
</section>
