html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Figtree', sans-serif;
    color: #1c1917;
    scroll-behavior: smooth;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.flow {
    --flow-space: 1rem;
}

.flow > * + * {
    margin-top: var(--flow-space);
}

@media screen and (min-width: 1024px) {
    .flow {
        --flow-space: 1.5rem;
    }
}
