---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)} class="bg-sparkWhite py-16 lg:py-24">
    {
        blok.blocks?.map((blok) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</main>
