---
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/', {
    version: 'published',
    content_type: 'BlogPost',
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        // date: new Date(story.published_at).toLocaleDateString('en-US', { dateStyle: 'full' }),
        // image: story.content.main_image.filename,
        // excerpt: story.content.excerpt,
        // tags: story.tag_list,
        // slug: story.full_slug,
    };
});
---

<section class="text-center mt-32">
    <h1 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">The Profitable Studio Blog</h1>
</section>
<section class="grid max-w-lg gap-5 mx-auto mt-12 lg:grid-cols-3 lg:max-w-none">
    {
        posts?.length && posts?.map(post => (
            <h1>{post.title}</h1>
        ))
    }
</section>
