---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)} class="max-w-7xl mx-auto px-4">
    {
        blok.body?.map((blok) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</main>
