---
import Layout from '../layouts/LandingPage.astro';
import ActionBox from "../components/ui/ActionBox.astro";
import SingleTestimonial from '../components/ui/SingleTestimonial.astro';
import CTA from '../components/homepage/CTA.astro';

let karyna = {
    quote: "Nicole's program was a game-changer for my business. I was teetering on breaking even each month and within a few short weeks, I turned a profit and have continued ever since. The changes that she worked with me were minor adjustments that created a huge difference in my business!",
    name: "Karyna Goldman",
    title: "Triangle Foundry",
    img: "https://res.cloudinary.com/observatory-agency/image/upload/v1667423302/clients/spark-strategies/Karyna_Goldman_ry46ot.jpg"
}

let courtney = {
    quote: "Nicole is the best investment you will make into your studio business. We set up SOPs, rebranded our studio's foundation and changed our whole sales process. {In 4 months} My investment in her program has already been returned and then some.",
    name: "Courtney Brooks",
    title: "Soul Sweat",
    img: "https://res.cloudinary.com/observatory-agency/image/upload/v1667423302/clients/spark-strategies/Courtney_Brooks_cw5r9u.jpg"
}
---

<Layout title="Book a Free 60 Minute Studio Strategy Session | Spark Strategies">
    <main class="mt-32">
        <section>
            <ActionBox cta="Schedule my free call" link="https://calendly.com/nicole-dandrea/60-min-studio-strategy-session-with-nicole-d-andrea">
                <h1 class="text-[64px] leading-none font-extrabold">Book a Free 60 Minute Studio <span class="font-display">Strategy Session</span></h1>
                <p class="text-xl leading-normal">We’re your team of Savvy Strategists, Marketing Minds & Industry Changemakers commited to helping your business <span class="font-bold">thrive.</span></p>
            </ActionBox>
        </section>
        <SingleTestimonial person={karyna} side={"left"}/>
        <section>
            <div class="py-12 bg-white">
                <div class="max-w-xl px-4 mx-auto space-y-10 sm:px-6 lg:max-w-7xl lg:px-8">
                  <h2 class="text-4xl font-bold text-sparkHeader">During this 60-minute meeting, you'll get:</h2>
                  <dl class="space-y-10 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
                    <div>
                      <dt>
                        <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-sparkBlue">
                          <!-- Heroicon name: outline/globe-alt -->
                          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                          </svg>
                        </div>
                      </dt>
                      <dd class="mt-2 text-lg text-sparkBody">An in-depth review of your business strategies to discover what’s working and what needs to be changed</dd>
                    </div>

                    <div>
                      <dt>
                        <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-sparkBlue">
                          <!-- Heroicon name: outline/scale -->
                          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
                          </svg>
                        </div>
                      </dt>
                      <dd class="mt-2 text-lg text-sparkBody">A roadmap with actionable steps to implement these changes and start hitting your business profit growth goals</dd>
                    </div>

                    <div>
                      <dt>
                        <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-sparkBlue">
                          <!-- Heroicon name: outline/bolt -->
                          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                          </svg>
                        </div>
                      </dt>
                      <dd class="mt-2 text-lg text-sparkBody">A personalized blueprint on maximizing those profits while stepping back to get more time for yourself</dd>
                    </div>
                  </dl>
                </div>
              </div>

        </section>
        <section>
            <div class="relative bg-sparkBlue">
                <div class="absolute inset-x-0 bottom-0 h-80 xl:top-0 xl:h-full">
                  <div class="w-full h-full xl:grid xl:grid-cols-2">
                    <div class="h-full xl:relative xl:col-start-2">
                      <img class="object-cover w-full h-full opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
                      <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-sparkBlue xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
                    </div>
                  </div>
                </div>
                <div class="max-w-4xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-2 xl:gap-x-8">
                  <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
                    <h2 class="mt-3 text-3xl font-bold tracking-tight text-white">Our results</h2>
                    <p class="mt-5 text-lg text-gray-300">Business coaching doesn't need to be a lifetime commitment. We partner with you, define your BIG goals, uncover your business' most pressing needs -- then get to work: fast! After we address any bottlenecks or inefficiencies, quantum growth is our goal. Our results speak for themselves!</p>
                    <div class="grid grid-cols-1 mt-12 gap-y-12 gap-x-6 sm:grid-cols-2">
                      <p>
                        <span class="block text-2xl font-bold text-white">$6,000</span>
                        <span class="block mt-1 text-base text-gray-300">After 3 months of coaching, Leanne paid herself her first official monthly draw of $6,000</span>
                      </p>

                      <p>
                        <span class="block text-2xl font-bold text-white">128</span>
                        <span class="block mt-1 text-base text-gray-300">With a targeted promotion, Melissa sold  128 memberships in less than 30 days!</span>
                      </p>

                      <p>
                        <span class="block text-2xl font-bold text-white">50%</span>
                        <span class="block mt-1 text-base text-gray-300">Karen adjusted her pricing strategy and rolled out a Founders’ Rate campaign that converted over 50% of her clients to autopay members in less than 4 weeks!</span>
                      </p>

                      <p>
                        <span class="block text-2xl font-bold text-white">89%</span>
                        <span class="block mt-1 text-base text-gray-300">After a month of coaching, Kait’s membership is up 89%, attendance up 39% and sales are  up 53% from last year!</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <SingleTestimonial person={courtney} side={"right"}/>
        <CTA />
        <footer>
            <p>footer</p>
        </footer>
    </main>
</Layout>
