---
import Layout from '../layouts/LandingPage.astro';
---

<Layout title="Book a Free 60 Minute Studio Strategy Session | Spark Strategies">
    <main class="mt-32">
        <p>hi</p>
    </main>
</Layout>
