---
import Layout from '../layouts/Layout.astro';
import BgPattern from '../components/ui/BgPattern.astro';
---

<Layout title="Contact Us | Spark Strategies">
    <main class="relative mt-24 overflow-hidden sm:mt-32">
        <!-- Header -->
        <div class="bg-sparkPeach">
            <div class="py-12 lg:py-20">
                <div class="relative z-10 pl-4 pr-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <h1
                        class="text-4xl font-bold tracking-tight text-sparkBody sm:text-5xl lg:text-6xl"
                    >
                        Get in touch
                    </h1>
                    <p class="max-w-3xl mt-6 text-xl text-warm-gray-500">
                        Let's chat about your studio biz. Send us a message and we'll be in touch
                        ASAP.
                    </p>
                </div>
            </div>
        </div>

        <!-- Contact section -->
        <section class="relative z-50" aria-labelledby="contact-heading">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="relative bg-white shadow-xl">
                    <h2 id="contact-heading" class="sr-only">Contact us</h2>

                    <div class="grid grid-cols-1 lg:grid-cols-3">
                        <!-- Contact information -->
                        <div
                            class="relative px-6 py-10 overflow-hidden bg-gradient-to-b from-sparkRaspberry to-sparkOrange sm:px-10 xl:p-12"
                        >
                            <!-- Decorative angle backgrounds -->
                            <div
                                class="absolute inset-0 pointer-events-none sm:hidden"
                                aria-hidden="true"
                            >
                                <svg
                                    class="absolute inset-0 w-full h-full"
                                    width="343"
                                    height="388"
                                    viewBox="0 0 343 388"
                                    fill="none"
                                    preserveAspectRatio="xMidYMid slice"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                                        fill="url(#linear1)"
                                        fill-opacity=".1"></path>
                                    <defs>
                                        <linearGradient
                                            id="linear1"
                                            x1="254.553"
                                            y1="107.554"
                                            x2="961.66"
                                            y2="814.66"
                                            gradientUnits="userSpaceOnUse"
                                        >
                                            <stop stop-color="#fff"></stop>
                                            <stop offset="1" stop-color="#fff" stop-opacity="0"
                                            ></stop>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div
                                class="absolute top-0 bottom-0 right-0 hidden w-1/2 pointer-events-none sm:block lg:hidden"
                                aria-hidden="true"
                            >
                                <svg
                                    class="absolute inset-0 w-full h-full"
                                    width="359"
                                    height="339"
                                    viewBox="0 0 359 339"
                                    fill="none"
                                    preserveAspectRatio="xMidYMid slice"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                                        fill="url(#linear2)"
                                        fill-opacity=".1"></path>
                                    <defs>
                                        <linearGradient
                                            id="linear2"
                                            x1="192.553"
                                            y1="28.553"
                                            x2="899.66"
                                            y2="735.66"
                                            gradientUnits="userSpaceOnUse"
                                        >
                                            <stop stop-color="#fff"></stop>
                                            <stop offset="1" stop-color="#fff" stop-opacity="0"
                                            ></stop>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div
                                class="absolute top-0 bottom-0 right-0 hidden w-1/2 pointer-events-none lg:block"
                                aria-hidden="true"
                            >
                                <svg
                                    class="absolute inset-0 w-full h-full"
                                    width="160"
                                    height="678"
                                    viewBox="0 0 160 678"
                                    fill="none"
                                    preserveAspectRatio="xMidYMid slice"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                                        fill="url(#linear3)"
                                        fill-opacity=".1"></path>
                                    <defs>
                                        <linearGradient
                                            id="linear3"
                                            x1="192.553"
                                            y1="325.553"
                                            x2="899.66"
                                            y2="1032.66"
                                            gradientUnits="userSpaceOnUse"
                                        >
                                            <stop stop-color="#fff"></stop>
                                            <stop offset="1" stop-color="#fff" stop-opacity="0"
                                            ></stop>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <h3 class="text-lg font-medium text-sparkHeader">
                                Contact information
                            </h3>
                            <dl class="mt-8 space-y-6">
                                <dt><span class="sr-only">Email</span></dt>
                                <dd class="flex text-base text-sparkBody">
                                    <svg
                                        class="flex-shrink-0 w-6 h-6 text-sparkBody"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                                        ></path>
                                    </svg>
                                    <span class="ml-3 text-sparkHeader"
                                        >info@sparkstrategies.co</span
                                    >
                                </dd>
                            </dl>
                            <div class="flex mt-8 space-x-4">
                                <a
                                    href="https://www.facebook.com/sparkgrowthstrategy"
                                    class="text-sparkHeader hover:sparkBody"
                                >
                                    <span class="sr-only">Facebook</span>
                                    <svg
                                        class="w-6 h-6"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </a>

                                <a
                                    href="https://www.instagram.com/sparkstrategies_/"
                                    class="text-sparkHeader hover:sparkBody"
                                >
                                    <span class="sr-only">Instagram</span>
                                    <svg
                                        class="w-6 h-6"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <!-- Contact form -->
                        <div class="px-6 py-10 sm:px-10 lg:col-span-2 xl:p-12">
                            <h3 class="text-lg font-medium text-sparkBody">Send us a message</h3>
                            <form
                                action="https://formspree.io/f/xlevavna"
                                method="POST"
                                class="grid grid-cols-1 mt-6 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
                            >
                                <div>
                                    <label
                                        for="first-name"
                                        class="block text-sm font-medium text-sparkBody"
                                        >First name</label
                                    >
                                    <div class="mt-1">
                                        <input
                                            type="text"
                                            name="first-name"
                                            id="first-name"
                                            autocomplete="given-name"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            required
                                        />
                                    </div>
                                </div>
                                <div>
                                    <label
                                        for="last-name"
                                        class="block text-sm font-medium text-sparkBody"
                                        >Last name</label
                                    >
                                    <div class="mt-1">
                                        <input
                                            type="text"
                                            name="last-name"
                                            id="last-name"
                                            autocomplete="family-name"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            required
                                        />
                                    </div>
                                </div>
                                <div>
                                    <label
                                        for="email"
                                        class="block text-sm font-medium text-sparkBody"
                                        >Email</label
                                    >
                                    <div class="mt-1">
                                        <input
                                            id="email"
                                            name="email"
                                            type="email"
                                            autocomplete="email"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            required
                                        />
                                    </div>
                                </div>
                                <div>
                                    <div class="flex justify-between">
                                        <label
                                            for="phone"
                                            class="block text-sm font-medium text-sparkBody"
                                            >Phone</label
                                        >
                                        <span id="phone-optional" class="text-sm text-warm-gray-500"
                                            >Optional</span
                                        >
                                    </div>
                                    <div class="mt-1">
                                        <input
                                            type="text"
                                            name="phone"
                                            id="phone"
                                            autocomplete="tel"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            aria-describedby="phone-optional"
                                        />
                                    </div>
                                </div>
                                <div class="sm:col-span-2">
                                    <label
                                        for="subject"
                                        class="block text-sm font-medium text-sparkBody"
                                        >Subject</label
                                    >
                                    <div class="mt-1">
                                        <input
                                            type="text"
                                            name="subject"
                                            id="subject"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            required
                                        />
                                    </div>
                                </div>
                                <div class="sm:col-span-2">
                                    <div class="flex justify-between">
                                        <label
                                            for="message"
                                            class="block text-sm font-medium text-sparkBody"
                                            >Message</label
                                        >
                                        <span id="message-max" class="text-sm text-warm-gray-500"
                                            >Max. 500 characters</span
                                        >
                                    </div>
                                    <div class="mt-1">
                                        <textarea
                                            id="message"
                                            name="message"
                                            rows="4"
                                            class="block w-full px-4 py-3 rounded-md shadow-sm border-warm-gray-300 text-sparkBody focus:border-sparkBlue focus:ring-sparkBlue"
                                            aria-describedby="message-max"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="sm:col-span-2 sm:flex sm:justify-end">
                                    <button
                                        type="submit"
                                        class="inline-flex items-center justify-center w-full px-6 py-3 mt-2 text-base font-medium border border-transparent rounded-md shadow-sm bg-sparkBlue text-sparkPeach hover:bg-sparkBlueDark focus:outline-none focus:ring-2 focus:ring-sparkHeader focus:ring-offset-2 sm:w-auto"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div
            class="h-[756px] bg-sparkOrange max-w-lg w-2/5 rounded-tl-3xl rounded-bl-3xl absolute left-full hidden -translate-x-3/4 translate-y-8 top-0 transform lg:block"
        >
        </div>

        <!-- Contact grid -->
        <section aria-labelledby="offices-heading z-50 relative">
            <div class="px-4 py-12 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
                <h2 id="offices-heading" class="text-3xl font-bold tracking-tight text-sparkBody">
                    Our office
                </h2>
                <div class="grid grid-cols-1 gap-10 mt-10 sm:grid-cols-2 lg:grid-cols-4">
                    <div>
                        <h3 class="text-lg font-medium text-sparkBody">Montclair</h3>
                        <p class="mt-2 text-base text-warm-gray-500">
                            <span class="block">92 Church Street</span>

                            <span class="block">Montclair, NJ 07042</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
