---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/homepage/Hero.astro';
import Partners from '../components/homepage/Partners.astro';
import Services from '../components/homepage/Services.astro';
import ProfitableStudio from '../components/homepage/ProfitableStudio.astro';
import About from '../components/homepage/About.astro';
import Testimonies from '../components/homepage/Testimonies.astro';
import CTA from '../components/homepage/CTA.astro';
import MiniTrainings from '../components/homepage/MiniTrainings.astro';
import Clients from '../components/homepage/Clients.astro';
---

<Layout>
    <main class="mt-28 sm:mt-32">
        <Hero />
        <Partners />
        <Services />
        <ProfitableStudio />
        <About />
        <Testimonies />
        <CTA ctaLink="/book-a-free-60-minute-studio-strategy-session" />
        <MiniTrainings />
        <Clients />
    </main>
</Layout>
