---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="mt-28 sm:mt-32 max-w-7xl mx-auto">
        <section class="grid grid-cols-3 gap-4">
            <div class="shadow-lg">
                <embed
                    src="https://docs.google.com/document/d/1AFiCk4h0Bh8L-iBNuDDQrXTc4FjCBrXa7QEWfofEOAA/edit?usp=sharing"
                    type="text/html"
                    class="w-full h-72"
                />
            </div>
        </section>
    </main>
</Layout>
