---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank you | Spark Strategies">
    <div class="h-screen">
        <section class="flex flex-col items-center py-32 mt-32 space-y-6">
            <div>
                <h1 class="text-4xl text-center font-display">
                    Thanks you for your interest in our Sales School Training!
                </h1>
                <p class="mt-6 text-xl text-center">
                    Check your email shortly for a link to view and download our Sales School
                    training video.
                </p>
            </div>
            <a
                href="/"
                class="items-center px-8 py-2 mx-auto text-lg font-semibold tracking-widest rounded shadow-sm sm:inline-flex text-sparkPeach bg-sparkBlue font-body border-secondaryColor text-secondaryColor hover:bg-sparkBlueDark hover:text-primaryColor focus:outline-none focus:ring-2 focus:ring-secondaryColorDark focus:ring-offset-2"
            >
                Back home
            </a>
        </section>
    </div>
</Layout>
