---
import Header from '../components/ui/Header.svelte';
import Footer from '../components/ui/Footer.astro';
import Contact from '../components/ui/Contact.astro';

import '../styles/fonts.css';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Primary Meta Tags -->
        <title>Growth Solutions for Boutique Fitness Businesses | Spark Strategies</title>
        <meta
            name="title"
            content="Growth Solutions for Boutique Fitness Businesses | Spark Strategies"
        />
        <meta
            name="description"
            content="Your team of Savvy Strategists, Marketing Minds & Industry Changemakers committed to helping your business thrive. "
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://sparkstrategies.co/" />
        <meta
            property="og:title"
            content="Growth Solutions for Boutique Fitness Businesses | Spark Strategies"
        />
        <meta
            property="og:description"
            content="Your team of Savvy Strategists, Marketing Minds & Industry Changemakers committed to helping your business thrive. "
        />
        <meta property="og:image" content="https://sparkstrategies.co/spark.jpg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://sparkstrategies.co/" />
        <meta
            property="twitter:title"
            content="Growth Solutions for Boutique Fitness Businesses | Spark Strategies"
        />
        <meta
            property="twitter:description"
            content="Your team of Savvy Strategists, Marketing Minds & Industry Changemakers committed to helping your business thrive. "
        />
        <meta property="twitter:image" content="https://sparkstrategies.co/spark.jpg" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <script defer src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.js"></script>
    </head>
    <body class="bg-sparkPeach">
        <Header client:load />
        <slot />
        <Contact />
        <Footer />
    </body>
</html>
