---
const {logo, company, width} = Astro.props;
---

<div class="shadow-md max-w-[200px] rounded-2xl bg-white flex items-center justify-center p-4">
    <img src={logo} alt={company} style={`max-width: ${width}px;`} class="object-contain h-24"/>
</div>
